// 对话框

//- style
    //- include dialog.less

div(class='dialog-overlay')
    div(class='dialog')
        div(class='dialog-header')
            span(class='dialog-title')
                i(class='dialog-close cf cf-close')
        div(class='dialog-body')
        div(class='dialog-footer')