h1 {
    color: cadetblue;
    transform: rotate(-10deg);
}

.avatar {
    width: 302px;
    height: 302px;
    color: brown;
    background: url(./avatar.png);
    transition: margin-left 5s;
}

body:hover {
    .avatar {
        margin-left: 500px;
    }
}

.avatar-sm {
    width: 40px;
    height: 40px;
    color: cornflowerblue;
    background: url(./avatar-sm.png);
}

h2 {
    color: darkcyan;
}

::placeholder {
    color: gray;
}