body {
  font-size: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490527668472&di=3946d82f7b97c6af425aff930b95ff29&imgtype=0&src=http%3A%2F%2Fs9.rr.itc.cn%2Fr%2FwapChange%2F20165_24_17%2Fa3cb7m0847284147855.jpg);
}
div {
  background: url(/assets/img/timg-1ba3d1b6c8361ad020f844f185ecbcc1.jpg);
}
