body {
  font-size: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(https://t11.baidu.com/it/u=219694606,124836664&fm=59);
}
div {
  background: url(/img/timg-1ba3d1b6c8361ad020f844f185ecbcc1.jpg);
}
