// body
body {
    margin: 0;
    font-size: 15px;
    // transform: scale(1);
    background: url(https://t11.baidu.com/it/u=219694606,124836664&fm=59) no-repeat;
}

div.abcdefg {
    background: url(../img/timg.jpg);
}